.marketPlace {
  height: 90vh;
  margin-left: auto;
  margin-top: 60px;

  .productcard {
    img {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 7px;
    }
    .price{
      font-weight: 500;
    }
    .model{
      font-size: 15px;
      font-weight: 400;
    }
    .address{
      font-size: 14px;
      font-weight: 300;
    }
  }
}
